@import 'share.scss';

.box {
  margin-top: 20px;
  background: #fff;
  border-radius: 3px;
}

.panel {
  @include panel;
  border-radius: 3px;
}

.list {
  margin: auto;
  padding: 15px;
  text-align: center;
}

.link {
  display: inline-block;
  margin: 6px;
  text-decoration: none;
  color: #666;
}

