@import 'share.scss';

.box {
  margin-top: 20px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

.panel {
  @include panel;
  color: #777;
}

.banner {
  @include panel;
  
  a {
    text-decoration: none;
    color: #222527;
  }
}

.col {
  display: table-cell;
  width: 50%;
  font-size: 15px;
}
