.header {
  margin-bottom: 15px;
  background: #fff;
}

.link {
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  padding: 15px 15px 12px 15px;
  border-bottom: 3px solid #fff;
}

.link:hover {
  border-bottom: 3px solid #EB5424;
  color: #EB5424;
}

