@import './shareStyles.scss';

@mixin col {
  @include box;
  display: table-cell;
}

.box {
  margin-top: 20px;
  background: #fff;
  border-radius: 3px;
}

.title {
  @include title;
  border-radius: 3px;
}

.left-col {
  @include col;
  border: 0;
  width: 100px;
  text-align: right;
  color: #aaa;
}

.right-col {
  @include col;
  border: 0;
}

.node-item {
  margin: 6px;
  padding: 6px;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

.node-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
