@mixin box {
  margin: 6px;
  border: 1px solid #e6e6e6;
  padding: 6px;
}

@mixin inline-box {
  @include box;
  display: inline-block;
}

@mixin banner {
  font-size: 14px;
  padding: 6px 15px;
}

@mixin title {
  @include banner;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
}

