@mixin container {
  
  @media (min-width: 768px){
    width: 750px;
  }

  @media (min-width: 992px){
    width: 970px;
  }

  @media (min-width: 1200px){
    width: 1170px;
  }
  box-sizing: border-box;
  margin: auto;
}

@mixin box {
  margin: 6px;
  border: 1px solid #e6e6e6;
  padding: 6px;
}

@mixin banner {
  font-size: 14px;
  padding: 6px 15px;
  letter-spacing: 0.03em;
}

@mixin panel {
  @include banner;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  color: #777;
}

@mixin link-box {
  display: inline-block;
  margin-right: 15px;
  padding: 8px;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  color: #606060;
}
