@import './share.scss';

@mixin col {
  display: table-cell;
}

.box {
  position: fixed;
  width: 768px;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 6px;
  background: #fff;
}

.panel-head {
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bolder;
  line-height: 1.42857143;
  padding: 15px 15px 0 15px;
}

.panel-body {
  padding: 15px;
}

.node-catagories {
  margin-bottom: 10px;
}

.left-col {
  @include col;
  border: 0;
  min-width: 130px;
  padding-right: 10px;
  text-align: right;
  font-size: 14px;
  color: #aaa;
}

.right-col {
  @include col;
  border: 0;
}

.node-item {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  text-decoration: none;
  text-align: left;
  color: #333;
}

.node-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
