@import 'share.scss';

@mixin table-box {
  @include box;
  display: table-cell;
}

.left-col {
  @include table-box;
  width: 75%;
  padding: 0 15px;
  border-radius: 3px;
}

.right-col {
  @include table-box;
  width: 25%;
}

.right-col-box {
  @include box;
}

.friend {
  padding: 0;
}

.image {
  width: 100%;
  border-top: 1px solid #e6e6e6;
}
